@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
:root {
  --a11y-red: #e71316;
  --logo-red: #f15457;
  --logo-gray: #3d292b;
  --black: #000;
  --white: #fff;
}
body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--logo-gray);
  height: 100%;
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
.container {
  max-width: 65em;
  margin: 0 auto;
}
.logo {
  display: block;
  margin: 20px auto 0px auto;
  width: 100%;
  max-width: 320px;
}
.nav {
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}
@media (max-width: 600px){
  .nav {
    flex-wrap: wrap;
  }
  .nav .links, .nav .subscribe-links {
    width: 100%;
    text-align: center;
    margin: 1em 0;
  }
  .nav .links {
    order: 2;
  }
  .nav .subscribe-links {
    order: 1;
  }
}
.nav a {
  border-bottom: none;
  box-shadow: none;
  color: #404040;
  padding: 8px;
}
.by-line {
  line-height: 1.3;
}
.by-line a {
  color: var(--logo-red);
  border-bottom: none;
  box-shadow: none;
}
.nav svg {
  vertical-align: middle;
}

a {
  color: var(--logo-gray);
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: 1.5px solid var(--a11y-red);
  transition: border 0.2s ease-in, padding 0.2s linear;
}
a:hover {
  border-color: var(--logo-gray);
  padding-bottom: 1px;
}
.button {
  background-color: var(--a11y-red);
  color: var(--white);
  border: none;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 7px;
  font-size: 1.125rem;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
  border: 2px solid var(--a11y-red);
  transition: background-color 0.2s linear;
}
.button:hover {
  background-color: transparent;
}
.episode {
  max-width: 50rem;
  margin: 0 auto;
}
footer {
  border-top: 1px solid var(--a11y-red);
  text-align: center;
  margin: 60px auto;
  bottom: 0px;
  padding: 10px;
  width: 65em;
  font-size: 0.85em;
}
.hosts {
  margin: 0.75rem auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 850px;
  text-align: center;
  justify-content: space-around;
}
.hosts h2 {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
}
h2 {
  font-size: 1.25rem;
  text-align: center;
  margin: 1.5rem;
  color: #464646;
  font-family: "Fira Sans", sans-serif;
}
.hosts__item {
  margin: 20px 0;
  width: 175px;
}
.hosts__item img {
  border-radius: 50%;
  margin-bottom: 10px;
}
@media (max-width: 800px){
  .hosts {
    max-width: 400px;
    margin: 0 auto;
  }
}
audio {
  margin: 20px 0;
  display: block;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
@media screen and (max-width: 65em) {
  .container,
  footer {
    max-width: 95%;
  }
}
@media screen and (max-width: 40em) {
  .hosts__item {
    width: initial;
    padding: 10px;
    margin: 0;
  }
}
@media screen and (min-width: 40em) {
  .logo {
    width: 31.25rem;
  }
}

.player + span {
  display: block;
  margin-bottom: 4em;
}
