.player {
  display: grid;
  grid-template-columns: 66% 31%;
  grid-column-gap: 1rem;
  padding: 1rem;
}

.player__section--left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player__buttons {
  display: flex;
}

.player__buttons button {
  background: transparent;
  margin-right: 1rem;
  width: 60px;
  height: 50px;
  padding-top: 8px;
  box-shadow: 0 2px -5px rgba(0, 0, 0, 0.11);
}

.player__rewind,
.player__fast-forward {
  display: flex;
}

.seconds {
  margin-left: 2px;
  margin-top: -3px;
}

.player__section--right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: span 2;
}

.player__progress-loaded {
  width: 100%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  height: 1.5em;
  background-color: #464646;
  z-index: 5100;
  border-radius: 0.75em;
}

.player__progress {
  position: relative;
}

.player__progress-played {
  background: #f15457;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  height: 1.5em;
  z-index: 5200;
  border-radius: 0.75em;
}

.player__slider {
  display: inline-block;
  position: relative;
  left: 0;
  background-color: #fdfdfd;
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.75em;
  z-index: 5500;
  border: 1px solid;
}

.player__section--middle {
  display: flex;
  justify-content: space-between;
  justify-self: end;
}

.player__speed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  background: transparent;
}

.player__volume input + label {
  margin-right: 2px;
  border-radius: 7px;
  display: inline-block;
  width: 8px;
  height: 3.125rem;
}

.player__volume label {
  background: #e4e4e4;
}
.player__volume label.checked {
  background: #f15457;
}
.player__volume input:focus + label {
  background: #1d1d1d;
}

.player__inputs fieldset {
  margin: 0;
  border: none;
}

.player__title {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 767px) {
  .player {
    grid-template-columns: 14rem 7rem auto;
  }
  .player__section--right {
    grid-column-start: 3;
  }

  .player__section--middle {
    justify-self: start;
  }
}

@media only screen and (max-width: 767px) {
  .player {
    grid-template-rows: 5rem 4rem;
    grid-row-gap: 1rem;
  }
}
