.player {
  display: grid;
  grid-template-columns: 66% 31%;
  grid-column-gap: 1rem;
  padding: 1rem;
}

.player__section--left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player__buttons {
  display: flex;
}

.player__buttons button {
  background: transparent;
  margin-right: 1rem;
  width: 60px;
  height: 50px;
  padding-top: 8px;
  box-shadow: 0 2px -5px rgba(0, 0, 0, 0.11);
}

.player__rewind,
.player__fast-forward {
  display: flex;
}

.seconds {
  margin-left: 2px;
  margin-top: -3px;
}

.player__section--right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: span 2;
}

.player__progress-loaded {
  width: 100%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  height: 1.5em;
  background-color: #464646;
  z-index: 5100;
  border-radius: 0.75em;
}

.player__progress {
  position: relative;
}

.player__progress-played {
  background: #f15457;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  height: 1.5em;
  z-index: 5200;
  border-radius: 0.75em;
}

.player__slider {
  display: inline-block;
  position: relative;
  left: 0;
  background-color: #fdfdfd;
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.75em;
  z-index: 5500;
  border: 1px solid;
}

.player__section--middle {
  display: flex;
  justify-content: space-between;
  justify-self: end;
}

.player__speed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  background: transparent;
}

.player__volume input + label {
  margin-right: 2px;
  border-radius: 7px;
  display: inline-block;
  width: 8px;
  height: 3.125rem;
}

.player__volume label {
  background: #e4e4e4;
}
.player__volume label.checked {
  background: #f15457;
}
.player__volume input:focus + label {
  background: #1d1d1d;
}

.player__inputs fieldset {
  margin: 0;
  border: none;
}

.player__title {
  display: flex;
  justify-content: space-between;
}

.player--sticky {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 70%;
  color: white;
  background-color: #404040;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
  z-index: 1;
  animation-name: showplayer;
  animation-duration: 0.6s
}

.player--sticky
.player__progress-loaded,
.player__buttons [class^="player__"] {
  background-color: white;
  color: #404040;
}

.player--sticky
.player__speed {
  color: white;
}

.player--sticky
.player__slider {
  border: 1px solid #404040;
}

.player--sticky
.player__section--right {
  justify-content: normal;
}

@keyframes showplayer {
  from {
    bottom:-100%;
  }
  to {
    bottom:0;
  }
}

@media only screen and (min-width: 767px) {
  .player {
    grid-template-columns: 14rem 7rem auto;
  }
  .player__section--right {
    grid-column-start: 3;
  }

  .player__section--middle {
    justify-self: start;
  }
}

@media only screen and (max-width: 767px) {
  .player {
    grid-template-rows: 5rem 4rem;
    grid-row-gap: 1rem;
  }

  .player--sticky {
    width: 90%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    padding-top: 0px;
    padding-bottom: 10px;
    grid-column-gap: 0;
  }

  .player--sticky {
    width: 90%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .player--sticky
  .player__control-time {
    order: 1;
    text-align: center;
  }

  .player--sticky
  .player__section--left {
    width: 100%;
  }

  .player--sticky
  .player__buttons {
    order: 2;
    justify-content: space-around;
  }

  .player--sticky
  .player__buttons button {
    margin: 0px 5px;
  }

  .player--sticky
  .player__section--middle {
    display: none;
  }

  .player--sticky
  .player__section--right {
    width: 85%;
    flex-direction: row;
    height: 10px;
  }

  .player--sticky
  .player__section--right
  .player__progress {
    flex: 1;
  }

  .player--sticky
  .player__section--right
  #podcast-title {
    display: none;
  }

  .player--sticky
  .player__section--right
  .player__title button {
    line-height: 0.5;
  }

  .player--sticky
  .player__section--right
  .player__slider {
    width: 1em;
    height: 1em;
    top: 0;
    bottom: 0;
    top: -7px;
  }

  .player--sticky
  .player__section--right
  .player__progress-loaded,
  .player__progress-played {
    height: 0.5em;
  }
}
