.sw-update-toast {
  position: fixed;
  bottom: -50px;
  left: 20px;
  color: #fff;
  border-radius: 3px;
  background-color: #333;
  padding: 8px;
  display: flex;
  font-size: 0.8 rem;
  transition-timing-function: transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sw-update-toast.visible {
  transform: translateY(-100px);
}

.sw-update-toast .text {
  padding: 0 8px;
  flex: 1;
  text-align: left;
}

.sw-update-toast .close {
  border: 0px;
  background: transparent;
  color: #fff
}

.sw-update-toast .icon-close {
  vertical-align: middle;
}

@media (min-width: 320px) and (max-width: 480px) {
  .sw-update-toast {
    width: calc(100% - 40px);
  }
}